@* login Template File *@
@(form: Form[com.elogiclab.guardbee.core.UsernamePasswordAuthenticationToken], dest: String)(implicit flash: Flash, lang: Lang)
@import com.elogiclab.guardbee.core.RoutesHelper
@import com.elogiclab.guardbee.core.GuardbeeService._
@import views.html.helper
@import com.elogiclab.guardbee.core.views.html.helper.form._
@base("Login") {
  <style type="text/css">
	.voffset  { margin-top: 200px; }
   .nav-tabs { margin-bottom: 10px; }
   .social-button  { margin-top: 5px; }
   .btn-facebook { background-color: #3b5998; color: white; }
   .btn-google { background-color: #C63D2D; color: white; }
   .btn-twitter { background-color: #4099FF; color: white; }
   .btn-linkedin { background-color: #4875B4; color: white; }
  </style>
  <script type="text/javascript">
function activateLoginForm(login_type) {
                var form_id = login_type+'-login-form';
                var tab_id = login_type+'-tab';
      $('.form-tab').each( function() {
           $(this).removeClass('active');
      });
      $('#'+tab_id).addClass('active');
      $('.login-form').each( function() {
           $(this).addClass('hidden');
      });
      $('#'+form_id).removeClass('hidden');
   }  



   $( function() {
                activateLoginForm('local');      
   
   
       $('.form-tab-anchor').click( function(obj) {
        var theId = $(obj.target).attr('id');
        var str = theId.substring(0, theId.indexOf('-'));
                  activateLoginForm(str);
       });
     });
  </script>
	
<div class="container">
	@flash.get("error").map { error =>
		<div class="alert alert-danger alert-dismissable">
  			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  			@Html(error)
		</div>
	}
    <div class="row voffset">
        <div class="col-md-4 col-md-offset-4">
        <ul class="nav nav-tabs">
          	  @UsernamePasswordAuthenticators.map { a =>
          	  	<li class="form-tab" id="@a._1-tab"><a class="form-tab-anchor" id="@a._1-tab-anchor" href="#" name="@a._1-tab-anchor">@Messages("guardbee.label."+a._1+"-login")</a></li>
          	  }
        </ul>        
        
        
        
          	<div class="well">
          	  @UsernamePasswordAuthenticators.map { a =>
          	  	@login_form(a._1, dest)
          	  }
            </div>
      	</div>
    </div>

</div>


	
	
}

